<textarea id="commons-inplace-post-editor-{{postId}}" style="width: 100%; resize: none">{{{content}}}</textarea>
<div>
    <button id="commons-inplace-post-editor-post-button-{{postId}}">{{tr 'commons' 'post'}}</button>
    <button onclick="commons.utils.cancelPostEdit('{{postId}}');">{{tr 'commons' 'cancel'}}</button>
    <span class="commons-comment-help-text">{{tr 'commons' 'keyboard_support'}}</span>
</div>
