<textarea id="commons-inplace-post-editor-{{postId}}" style="width: 100%; resize: none">{{{content}}}</textarea>
<div>
    <button id="commons-inplace-post-editor-post-button-{{postId}}">{{tr 'commons' 'post'}}</button>
    <button onclick="commons.utils.cancelPostEdit('{{postId}}');">{{tr 'commons' 'cancel'}}</button>
    <span class="commons-comment-help-text"><small><code><span class='mac-only'>{{tr 'commons' 'post_shortcut_mac_key'}}</span><span class='pc-only'>{{tr 'commons' 'post_shortcut_pc_key'}}</span> {{tr 'commons' 'post_shortcut_return_key'}}</code> {{tr 'commons' 'post_shortcut_suffix'}}</small></span>
</div>
