<section class="pasystem-section">
  <header class="pasystem-section-header">
    <h3>Banners</h3>
    <a href="{{{newURL this 'banners' 'new'}}}" class="btn btn-primary btn-sm pull-right">Create Banner</a>
  </header>

  <table class="pasystem-table table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>Message</th>
        <th>Active</th>
        <th>Dismissible</th>
        <th>From</th>
        <th>Until</th>
        <th><!-- actions --></th>
      </tr>
    </thead>
    <tbody>
      {{#each banners}}
      <tr>
        <td>{{this.message}}</td>
        <td>{{this.active}}</td>
        <td>{{this.dismissible}}</td>
        <td>{{show-time this this.startTime}}</td>
        <td>{{show-time this this.endTime}}</td>    
        <td class="actions">
            <a href="{{{actionURL this 'banners' this.uuid "edit"}}}" class="btn btn-primary btn-xs">Edit</a>
            <a href="{{{actionURL this 'banners' this.uuid "delete"}}}" class="btn btn-danger btn-xs"><span class="glyphicon glyphicon-trash"></span></a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>

<section class="pasystem-section">
  <header class="pasystem-section-header">
    <h3>Popups</h3>

    <a href="{{{newURL this 'popups' 'new'}}}" class="btn btn-primary btn-sm pull-right">Create Popup</a>
  </header>

  <table class="pasystem-table table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>Description</th>
        <th>Active</th>
        <th>From</th>
        <th>Until</th>
        <th><!-- actions --></th>
      </tr>
    </thead>
    <tbody>
      {{#each popups}}
      <tr>
        <td>{{this.descriptor}}</td>
        <td>{{this.active}}</td>
        <td>{{show-time this this.startTime}}</td>
        <td>{{show-time this this.endTime}}</td>    
        <td class="actions">
            <a href="{{{actionURL this 'popups' this.uuid "edit"}}}" class="btn btn-primary btn-xs">Edit</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>

<section class="pasystem-section">
  <header class="pasystem-section-header">
    <h3>Timezone Check</h3>
  </header>

  <p>TODO</p>
</section>
