<section class="pasystem-section">
  <h3>Banners</h3>

  <table class="pasystem-table table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>Message</th>
        <th>Active</th>
        <th>From</th>
        <th>Until</th>
        <th><!-- actions --></th>
      </tr>
    </thead>
    <tbody>
      {{#each banners}}
      <tr>
        <td>{{this.message}}</td>
        <td>{{this.active}}</td>
        <td>{{show-time this this.startTime}}</td>
        <td>{{show-time this this.endTime}}</td>    
        <td class="actions">
            <a href="{{{actionURL this 'banners' this.uuid "edit"}}}" class="btn btn-primary btn-sm">Edit</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>

<section class="pasystem-section">
  <h3>Popups</h3>

  <table class="pasystem-table table table-striped table-hover table-condensed">
    <thead>
      <tr>
        <th>Description</th>
        <th>Active</th>
        <th>From</th>
        <th>Until</th>
        <th><!-- actions --></th>
      </tr>
    </thead>
    <tbody>
      {{#each popups}}
      <tr>
        <td>{{this.descriptor}}</td>
        <td>{{this.active}}</td>
        <td>{{show-time this this.startTime}}</td>
        <td>{{show-time this this.endTime}}</td>    
        <td class="actions">
            <a href="{{{actionURL this 'popups' this.uuid "edit"}}}" class="btn btn-primary btn-sm">Edit</a>
        </td>
      </tr>
      {{/each}}
    </tbody>
  </table>
</section>

<section class="pasystem-section">
  <h3>Timezone Check</h3>

  <p>TODO</p>
</section>
